DATABASE_URL=postgresql://postgres:sua_senha@db.sua_referencia.supabase.co:5432/postgres

GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu_client_secret
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:8080/api/oauth/google/callback
FRONTEND_BASE_URL=http://localhost:5173
